.git
.github
.cache
bin
release
internal/api/bin
internal/api/dist
web/admin/node_modules
web/user/node_modules
web/admin/dist
web/user/dist
*.db
*.log
*.bak
*.key
*.pem
config.yaml
deploy/config.yaml
